<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>protection_setting</key>
	<dict>
		<key>Ir</key>
		<array>
			<string>0.4</string>
			<string>0.5</string>
			<string>0.6</string>
			<string>0.7</string>
			<string>0.8</string>
			<string>0.9</string>
			<string>0.95</string>
			<string>0.98</string>
			<string>1</string>
		</array>
		<key>Tr</key>
		<array>
			<string>0.5</string>
			<string>1</string>
			<string>2</string>
			<string>4</string>
			<string>8</string>
			<string>12</string>
			<string>16</string>
			<string>20</string>
			<string>24</string>
		</array>
		<key>Isd</key>
		<array>
			<string>1.5</string>
			<string>2</string>
			<string>2.5</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>8</string>
			<string>10</string>
		</array>
		<key>Tsd</key>
		<array>
			<string>0.1</string>
			<string>0.2</string>
			<string>0.3</string>
			<string>0.4</string>
			<string>0.04</string>
			<string>0.03</string>
			<string>0.02</string>
			<string>0.01</string>
			<string>0</string>
		</array>
		<key>Ii</key>
		<array>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>6</string>
			<string>8</string>
			<string>10</string>
			<string>12</string>
			<string>15</string>
			<string>0</string>
		</array>
	</dict>
	<key>product_setting</key>
	<dict>
		<key>system_type_settings</key>
		<array>
			<dict>
				<key>value</key>
				<string>41</string>
				<key>description</key>
				<string>4 writes 4CTs</string>
			</dict>
			<dict>
				<key>value</key>
				<string>40</string>
				<key>description</key>
				<string>4 writes 3CTs</string>
			</dict>
			<dict>
				<key>value</key>
				<string>31</string>
				<key>description</key>
				<string>3 writes 3CTs</string>
			</dict>
			<dict>
				<key>value</key>
				<string>30</string>
				<key>description</key>
				<string>ignore</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
